 /* Custom styles for vertical centering */
 html, body {
    height: 100%;
  }

  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar {
    flex-direction: column;
  }

  .navbar-nav {
    width: 100%;
    text-align: center;
  }

  .navbar-nav .nav-item {
    width: 100%;
  }

  .navbar-nav .nav-link {
    padding: 1rem;
  }