.container {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    text-align: center;
}

#food-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 450px;
    max-height: 800px;
    height: 100%;
    width: 100%;
    text-align: center;
    align-items: center;
    margin-left: 30%;
}

header{
    position: absolute;
}

#food-form h2 {
    margin-bottom: 30px;
    color: #333;
}

input[type="text"],
input[type="number"],
input[type="submit"] {
    width: calc(100% - 20px);
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
    transition: all 0.3s ease;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

input[type="text"]:focus,
input[type="number"]:focus {
    outline: none;
    border-color: #4caf50;
    box-shadow: 0 0 10px rgba(76, 175, 80, 0.3);
}

input[type="submit"] {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
.form-group-id {
    margin-left: 40px;
    margin-bottom: 0.5rem;
}

.form-group p {
    margin-bottom: 0.5rem;
}

.form-check-label {
    margin-right: 1rem;
}

.hidden {
    display: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.form-page {
    display: none;
}

.form-page.active {
    display: block;
}

.form-nav {
    text-align: center;
    margin-bottom: 20px;
}

.button-design {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    outline: none;
}



.form-nav button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.form-nav button.active {
    background-color: #0056b3;
}

/* Drop down function */
select {
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 300px;
}

select .option {
    font-size: 14px;
}

.progress{
    margin-top: 30px;
}


/* button function */