/* Add the following CSS styles to your existing stylesheets */

/* Styling for table */
#myTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#myTable th,
#myTable td,
#myTable tr {
    border: 0.5px solid black;
    padding: 10px;
    border-width: 1px;
    /* Add border width */
}

/* Apply border to the bottom of table headers */
#myTable th {
    border-bottom: 2px solid #ddd;
}

/* Apply border to the top of table cells */
#myTable td {
    border-top: 1px solid #ddd;
}

/* Add margin-top to the table to separate from other elements */
#myTable {
    margin-top: 20px;
}

#myTable tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Colors for bars */
.chart-colors {
    background-color: rgba(255, 99, 132, 0.2);
    /* Red for food total */
    border-color: rgba(255, 99, 132, 1);
}

.chart-colors2 {
    background-color: rgba(54, 162, 235, 0.2);
    /* Blue for transport total */
    border-color: rgba(54, 162, 235, 1);
}

.chart-colors3 {
    background-color: rgba(11, 156, 49, 0.2);
    /* Green for electric total */
    border-color: rgba(11, 156, 49, 1);
}

header {
    position: relative;
}

/* Style for the select element */
#sortOrder {
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 8px;
    border: 1px solid #595656;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
}

/* Style for the option elements */
#sortOrder option {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    background-color: #fff;
}

/* Style for the option elements when hovered */
#sortOrder option:hover {
    background-color: #f0f0f0;
}

/* Style for the option elements when selected */
#sortOrder option:checked {
    background-color: #007bff;
    color: #fff;
}

#container-1{
    display: flex;
    flex: 2;
}

#tooltip{
    display: flex;
    flex: 1;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: -30px;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.question-icon {
    width: 20px;
    height: 20px;
}
