/* CSS styles for Eco Events Calendar */
body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
}

li h2 {
    margin-top: 0;
}
<<<<<<< Eco_Events_Calendar

.admin-upload {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

li h2 {
    margin-top: 0;
}
=======
>>>>>>> main
