body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #444;
  }
  .card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  .col-sm{
    margin-top: 150px;
  }
  header{
    position: relative;
  }

  .card:hover {
    transform: translateY(-5px);
  }

  .card-img-top {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    object-fit: cover;
    height: 200px;
  }

  .card-body {
    padding: 20px;
    border: 1px solid #f0f0f0;
    border-top: none;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }

  .card-title {
    color: #333;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .card-text {
    color: #666;
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .btn {
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 20px;
    padding: 8px 20px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }

  .btn:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }

  #container_1 {
    width: 50%;
    height: 20px;
    justify-content: center;
    align-items: center;
    margin-left: 280px;
  }

  canvas {
    height: 200px;
    width: 200px;
  }