#announcement-panel {
	padding-top: 80px;
	padding-bottom: 80px;
}

#announcement-header, #announcement-subheader {
	color: white;
	background-color: rgba(38, 77, 0, 0.7);
	padding: 5px;
}

#announcement-header {
	font-size: 4em;
}

#announcement-subheader {
	font-size: 2em;
}

#form, #results {
	padding: 40px;
}

#announcement-panel {
	background-image: url("../images/green-leaves.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#home-energy-label, .fa-home {
	color: #FF8C00;
}

#travel-label, .fa-globe {
	color: #008B8B;
}

#waste-label, .fa-recycle {
	color: #228B22;
}

.progress-bar {
	font-size: 1.2em;
}

.score-info {
	padding: 10px;
	margin: 0;
}
body {
  background-color: #FFE4E1;
}

/* Home Page */
.nav{
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 60px;
    z-index:100;
}
.logo{
    font-size: 25px;
    font-weight: 900;
}

.logo a{
    text-decoration: none;
    color:black;
}
.right-links a{
    padding:0 10px;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:60px;
}
.main-box{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.main-box .top
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bottom{
    width: 100%;
    margin-top: 20px;

}
@media only screen and (max-width:840px)
{
    .main-box .top{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .top .box{
        margin:10px 10px;
    }
    .bottom{
        margin-top: 0;
    }
}

